@model List<blog.Areas.admin.Models.UserT>
<input type="text" id="myInput" oninput="myFunction()" placeholder="Поиск по никнейму">
<table id="myTable">
    <tr>
        <th>Id пользователя</th>
        <th>Email</th>
        <th>Роль</th>
        <th>Никнейм</th>
        <th>Дата регистрации</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr class="zxc openmodal"><td class="UID">@i.UserId</td><td class="UMail">@i.Email</td><td class="URole">@i.Role</td><td class="UNick">@i.Nickname</td><td>@i.RegistrationDate</td></tr>
    }
</table>
<div class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Панель изменения</h2>
            <a href="#" class="btn-close closemodal" aria-hidden="true">&times;</a>
            <div class="modal-body">
                <form asp-route-area="admin" asp-action="UpdateUser" asp-controller="Home" method="post">
                    <input name="id" class="UserID" readonly="readonly"/>
                    <input name="email" class="UserMail">
                    <input name="role" class="UserRole">
                    <input name="nick" class="UserNick">
                    <div class="modal-footer">
                        <button name="btnType" type="submit" value="change"> Изменить</button>
                        <button name="btnType" type="submit" value="delete"> Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/js/update.js"></script>
<script src="~/js/filter.js"></script>